

.menu-button {
  height: 100%;
  padding-right: 110px;
  $color-1: random_main-color();
  $color-2: random_main-color(($color-1));
  $color-3: random_main-color(($color-1,$color-2));
  $color-4: random_main-color(($color-1,$color-2,$color-3));
  &:hover {
    .menu-button-border-container {
      transition: background-color,box-shadow 2s;
      :nth-child(1) {
        &.spin {
          @include neon-border($color-4, $menu-button-default);
        }
      }

      :nth-child(2) {
        &.spin {
          @include neon-border($color-3, $menu-button-default);
        }
      }

      :nth-child(3) {
        &.spin {
          @include neon-border($color-2, $menu-button-default);
        }
      }

      :nth-child(4) {
        &.spin {
          @include neon-border($color-1, $menu-button-default);
        }
      }
    }
    .menu-button-line-container {
      &:hover {
        &.glow-rings {
          @include neon-border($menu-button-default, $menu-button-default);
          background: $menu-button-default !important;
        }
        :nth-child(1) {
          border: 1px solid $color-1;
          @include neon-border($color-1, $menu-button-default);
        }

        :nth-child(2) {
          border: 1px solid $color-2;
          @include neon-border($color-2, $menu-button-default);
        }

        :nth-child(3) {
          border: 1px solid $color-3;
          @include neon-border($color-3, $menu-button-default);
        }

        :nth-child(4) {
          border: 1px solid $color-4;
          @include neon-border($color-4, $menu-button-default);
        }
      }
    }
  }
  .menu-button-border-container {
    // add glow to animatin
    // reverse animation
    // transform on x any y
    //

    position: relative;
    :nth-child(1) {
      height: 70px;
      left: 30px;
      top: 30px;
      width: 70px;
    }
    :nth-child(2) {
      height: 90px;
      left: 20px;
      top: 20px;
      width: 90px;
    }
    :nth-child(3) {
      height: 110px;
      left: 10px;
      top: 10px;
      width: 110px;
    }
    :nth-child(4) {
      height: 130px;
      width: 130px;
    }
    :nth-child(odd) {
      &.spin {
        @include spin(forward,0deg,360deg);
      }
    }
    :nth-child(even) {
      &.spin {
        @include spin(backward,0deg,-360deg);
      }
    }
    .menu-button-border {
      &.spin {
        border-right: 3px solid $white;
      }
      border-radius: 50%;
      position: absolute;
    }
  }

  .menu-button-line-container {
    border-radius: 50%;
    height: 45px;
    left: 45px;
    position: relative;
    top: 65px;
    transition: background-color,box-shadow 2s;
    width: 45px;
    &.glow-lines {
      :nth-child(1) {
        @include line-glow(a,1.5s,0s,$color-1,$menu-button-default);
      }

      :nth-child(2) {
        @include line-glow(b,1.5s,1.5s,$color-2,$menu-button-default);
      }

      :nth-child(3) {
        @include line-glow(c,1.5s,3s,$color-3,$menu-button-default);
      }

      :nth-child(4) {
        @include line-glow(d,1.5s,4s,$color-4,$menu-button-default);
      }
    }

    &.glow-rings {
      animation: button-line-glow 7s infinite;
    }
    .menu-button-line {
      border-bottom: 1px solid $white;
      border-radius: 20%;
      height: 1px;
      padding-bottom: 10%;
      padding-top: 10%;
      transform: scaleX(1);
      transform-origin: 0 50%;
      transition: transform 3s linear;
      width: 100%;

      &:nth-child(even) {
        transform-origin: 100% 50%;
      }

      &.hide {
        transform: scaleX(0);
      }
    }
  }
}


