.apps {
  .sign {
    $color-1: random_main-color();
    $color-2: random_main-color(($color-1));
    $color-3: random_main-color(($color-1, $color-2));
    @include neon-sign(apps, $neon-off, $color-1, $color-2, $color-3);
  }
  .app-container {
    $color-1: random_main-color();
    $color-2: random_main-color(($color-1));
    $color-3: random_main-color(($color-1, $color-2));
    $color-4: random_main-color(($color-1, $color-2, $color-3));
    $color-5: random_main-color(($color-1, $color-2, $color-3, $color-4));
    $color-6: random_main-color(
      ($color-1, $color-2, $color-3, $color-4, $color-5)
    );

    border-radius: 30%;
    .app {
      &:hover {
        &:nth-child(1n) {
          border: 5px solid $color-1;
          @include neon-border($color-1, $neon-off);
          .app-text {
            animation: app-one-text-start 2s infinite alternate;
            @include text-start(app-one, $color-1);
          }
        }

        &:nth-child(2n) {
          border: 5px solid $color-2;
          @include neon-border($color-2, $neon-off);
          .app-text {
            animation: app-two-text-start 2s infinite alternate;
            @include text-start(app-two, $color-2);
          }
        }

        &:nth-child(3n) {
          border: 5px solid $color-3;
          @include neon-border($color-3, $neon-off);
          .app-text {
            animation: app-three-text-start 2s infinite alternate;
            @include text-start(app-three, $color-3);
          }
        }

        &:nth-child(4n) {
          border: 5px solid $color-4;
          @include neon-border($color-4, $neon-off);
          .app-text {
            animation: app-four-text-start 2s infinite alternate;
            @include text-start(app-four, $color-4);
          }
        }

        &:nth-child(5n) {
          border: 5px solid $color-5;
          @include neon-border($color-5, $neon-off);
          .app-text {
            animation: app-five-text-start 2s infinite alternate;
            @include text-start(app-five, $color-5);
          }
        }

        &:nth-child(6n) {
          border: 5px solid $color-6;
          @include neon-border($color-6, $neon-off);
          .app-text {
            animation: app-six-text-start 2s infinite alternate;
            @include text-start(app-six, $color-6);
          }
        }
        .app-text {
          display: block;
        }
      }
      .app-image {
        height: 75%;
        width: 75%;
      }
      .app-text {
        display: none;
      }
    }
  }
}
