
.uk-modal-footer {
  background-color: $black;
}

.home {
  height: 100vh;
  .sign{
    @include neon-sign(home,$neon-off,$blue,$red,$white);
    border-radius: 4vmin;
    .home-sign-text {
      padding: 0 2rem;
      text-align: center;
      span {

        &:focus {
          outline: none;
        }
        color: $neon-off;

        font-size: 8vw;
        font-style: italic;
        font-weight: 300;
        text-transform: uppercase;

      }
    }
  }
}
